<section class="feature-column">
  <div class="container">
    <div class="row">
      <div class="feature-col col-sm-4" style="background-color: #007205">
        <div
          class="feature-col-item init-animate slideInUp1"
          style="visibility: visible; animation-name: slideInUp"
        >
          <h4>
            <a href="https://cvsu.edu.ph/mission/" rel="bookmark">Mission</a>
          </h4>
          <p>
            Cavite State University shall provide excellent, equitable and
            relevant educational opportunities in the arts, sciences and
            technology through quality instruction and responsive research and
            development activities. It shall produce professional, skilled and
            morally upright individuals for global competitiveness.
          </p>
        </div>
      </div>
      <div class="feature-col col-sm-4" style="background-color: #feb04d">
        <div
          class="feature-col-item init-animate slideInUp1"
          style="visibility: visible; animation-name: slideInUp"
        >
          <h4>
            <a href="https://cvsu.edu.ph/vision/" rel="bookmark">Vision</a>
          </h4>
          <p>
            The premier university in historic Cavite recognized for excellence
            in the development of globally competitive and morally upright
            individuals
          </p>
        </div>
      </div>
      <div class="feature-col col-sm-4" style="background-color: #3a5938">
        <div
          class="feature-col-item init-animate slideInUp1"
          style="visibility: visible; animation-name: slideInUp"
        >
          <h4>
            <a href="https://cvsu.edu.ph/quality-policy/" rel="bookmark"
              >Quality Policy</a
            >
          </h4>
          <p>
            We Commit to the highest standards of education, value our
            stakeholders, Strive for continual improvement of our products and
            services, and Uphold the University’s tenets of Truth, Excellence,
            and Service to produce globally competitive and morally upright
            individuals.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
