<!-- Scrollable modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">CvSU Online Enrollment System</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li>THIS ADMISSION PROCESS IS FOR THE <b>1st SEMESTER OF 2022-2023</b>.</li>
                    <li>THE SYSTEM IS EXCLUSIVE FOR <b>NEW INCOMING FIRST YEAR STUDENTS, TRANSFEREES, SECOND COURSERS AND TCP APPLICANTS.</b></li>
                    <li>If you are a <b>shiftee or an old student</b> that is enrolled or was enrolled in CvSU, <b>DO NOT USE THIS SYSTEM</b></li>
                    <li>Use only one email address in the application and remember well your password. We prohibit the applicant to use multiple email addresses in order to create another account with same name. Once we traced that multiple entry of same name, we will only acknowledge the first entry and disregard the rest.</li>
                    <li>Applicants are prohibited from sharing the same email address to other applicants. Use your own email address in applying.</li>
                    <li>Input all your information with honesty and integrity. The data encoded and submitted documents will be subjected for validation and verification to your school.</li>
                    <li>Applicants who will violate the aforementioned guidelines will be disqualified from the list of application.
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>    
    </div>
</div>

