{% extends 'base.html' %} {% load static %} {% block mycss %} {{ block.super }}
<link rel="stylesheet" href="{% static 'css/about.css' %}" />
{% endblock mycss %} {% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">About CVSU Enrollment System</h1>
        <p class="lead"></p>
      </div>
    </div>
  </div>
</section>

{% include 'partials/_about.html' %} {% endblock %}
