{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block mycss %} 
    <style>    
        .incomplete{
            color:red;
        }
        .complete{
            color:lime;
        }
        .no-bullet{
            list-style: none;
        }
    </style>
{% endblock mycss %}


{% block content %}

    <div class="container-fluid">
        <div class="row">
            <h1>Application Form for Enrollment</h1>
            <br>
            <p>
                Please fill out the required fields in the application. Download and print the profile after completion. You need to submit this with your requirements to the Office of Student Affairs and Services.
            </p>
            <hr>

            <!--Grid row-->
            <div class="row d-flex justify-content-center">
                {% if form %}
                <!--Grid column-->
                <div class="col-md-6">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% if record.student_classification is not 3%}
                            <div class="row">
                                <h4>Form 137</h4>

                                <ul class="no-bullet">
                                    <li>
                                    {% if record.form_137 %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold file">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold file">Incomplete</a>
                                    {% endif %}
                                        {{form.form_137|as_crispy_field}}
                                        <!-- <input type="file" name="form_137" value="" />                                     -->
                                    </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <h4>Card/138</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.card_138 %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold">Incomplete</a>
                                    {% endif %}
                                        {{form.form_137|card_138}}
                                        <!-- <input type="file" name="card_138" /> -->
                                    </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <h4>Good Moral</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.status_family_background %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold">Incomplete</a>
                                    {% endif %}
                                        <input type="file" name="goodmoral" />
                                    </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <h4>Notice of Admission</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.notice_of_admission %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold">Incomplete</a>
                                    {% endif %}
                                        <input type="file" name="notice_of_admission" />
                                    </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <h4>Medical Clearance</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.medical_clearance %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold">Incomplete</a>
                                    {% endif %}
                                        <input type="file" name="medical_clearance" />
                                    </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <h4>Application Form</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.application_form %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold">Incomplete</a>
                                    {% endif %}
                                        <input type="file" name="application_form" />
                                    </span>
                                    </li>
                                </ul>
                            </div>

                        {% else %}

                            <div class="row">
                                <h4>Transcript of Record</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.transcript_of_record %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold">Incomplete</a>
                                    {% endif %}
                                        <input type="file" name="transcript_of_record" />
                                    </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <h4>Notice of Admission</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.notice_of_admission %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold">Incomplete</a>
                                    {% endif %}
                                        <input type="file" name="notice_of_admission" />
                                    </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <h4>Certificate of Transfer</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.cert_of_transfer %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="#" class="fw-bold">Incomplete</a>
                                    {% endif %}
                                        <input type="file" name="cert_of_transfer" />
                                    </span>
                                    </li>
                                </ul>
                            </div>

                        {% endif %}

                        <div class="row">
                            <div class="col-4 mb-5">
                                <button class="btn btn-success" type="submit">Update</button>
                            </div>
                        </div>                        
                    </form>
                </div>

                {% else %}

                <div class="col-md-6">
                    <h1>No existing Enrollment.<br> Please enroll first!</h1>
                </div>

                {% endif %}
            

                <div class="col-md-6 bg-secondary bg-opacity-25">
                    <p class="fw-bold fs-5 text-center">
                        Please complete the sections to get your registration form and student number
                    </p>

                    <p class="fw-normal text-center">
                        For questions and Technical problems.
                        <br>
                        <a href="https://cvsu.edu.ph/2022/01/20/admission-requirements-and-procedures-for-first-semester-ay-2022-2023/">Contact Admission Office</a>
                    </p>
                    

                </div>
                <!--Grid column-->
            
            </div>
            <!--Grid row-->
            
        </div>
    </div>

    <script>
        $('form').on('click', '.file', function(event) {
            event.preventDefault();
            $(this).parent().next('div').toggle();
        });


    </script>
{% endblock %}