{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <h1>Application Form for Enrollment</h1>
            <br>
            <p>
                Please fill out the required fields in the application. Download and print the profile after completion. You need to submit this with your requirements to the Office of Student Affairs and Services.
            </p>
            <hr>

            
        </div>
    </div>

{% endblock %}