{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block mycss %} 
    <style>    
        .incomplete{
            color:red;
        }
        .complete{
            color:lime;
        }
        .no-bullet{
            list-style: none;
        }
        /* Style buttons */
        .btn {
            background-color: green;
            border: none;
            color: white;
            padding: 12px 30px;
            cursor: pointer;
            font-size: 20px;
        }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: lime;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock mycss %}


{% block content %}

    <div class="container-fluid">
        <div class="row">
            <h1>Application Form for Enrollment</h1>
            <br>
            <p>
                Please fill out the required fields in the application. Download and print the profile after completion. You need to submit this with your requirements to the Office of Student Affairs and Services.
            </p>
            <hr>

            <!--Grid row-->
            <div class="row d-flex justify-content-center">
                {% if form %}
                <!--Grid column-->
                <div class="col-md-6">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% if record.student_classification is not 3%}
                            <div class="row">
                                <h4>Form 137</h4>

                                <ul class="no-bullet">
                                    <li>
                                    {% if record.form_137 %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_form_137')" class="fw-bold" data-expand="div_id_form_137">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_form_137')" class="fw-bold" data-expand="div_id_form_137">Incomplete</a>
                                    {% endif %}
                                        {{form.form_137|as_crispy_field}}
                                    </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <h4>Card/138</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.card_138 %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_card_138')" class="fw-bold" data-expand="div_id_card_138">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_card_138')" class="fw-bold" data-expand="div_id_card_138">Incomplete</a>
                                    {% endif %}
                                        {{form.card_138|as_crispy_field}}
                                        <!-- <input type="file" name="card_138" /> -->
                                    </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <h4>Good Moral</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.goodmoral %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_goodmoral')" class="fw-bold" data-expand="div_id_goodmoral">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_goodmoral')" class="fw-bold" data-expand="div_id_goodmoral">Incomplete</a>
                                    {% endif %}
                                        {{form.goodmoral|as_crispy_field}}
                                        <!-- <input type="file" name="goodmoral" /> -->
                                    </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <h4>Notice of Admission</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.notice_of_admission %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_notice_of_admission')" class="fw-bold" data-expand="div_id_notice_of_admission">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_notice_of_admission')" class="fw-bold" data-expand="div_id_notice_of_admission">Incomplete</a>
                                    {% endif %}
                                        {{form.notice_of_admission|as_crispy_field}}
                                    </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <h4>Medical Clearance</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.medical_clearance %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_medical_clearance')" class="fw-bold" data-expand="div_id_medical_clearance">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_medical_clearance')" class="fw-bold" data-expand="div_id_medical_clearance">Incomplete</a>
                                    {% endif %}
                                        {{form.medical_clearance|as_crispy_field}}
                                    </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <h4>Application Form</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.application_form %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_application_form')" class="fw-bold" data-expand="div_id_application_form">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_application_form')" class="fw-bold" data-expand="div_id_application_form">Incomplete</a>
                                    {% endif %}
                                        {{form.application_form|as_crispy_field}}
                                    </span>
                                    </li>
                                </ul>
                            </div>

                        {% else %}

                            <div class="row">
                                <h4>Transcript of Record</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.transcript_of_record %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_transcript_of_record')" class="fw-bold" data-expand="div_id_transcript_of_record">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_transcript_of_record')" class="fw-bold" data-expand="div_id_transcript_of_record">Incomplete</a>
                                    {% endif %}
                                        {{form.transcript_of_record|as_crispy_field}}
                                    </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <h4>Notice of Admission</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.notice_of_admission %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_notice_of_admission')" class="fw-bold" data-expand="div_id_notice_of_admission">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_notice_of_admission')" class="fw-bold" data-expand="div_id_notice_of_admission">Incomplete</a>
                                    {% endif %}
                                        {{form.notice_of_admission|as_crispy_field}}
                                    </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <h4>Medical Clearance</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.medical_clearance %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_medical_clearance')" class="fw-bold" data-expand="div_id_medical_clearance">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_medical_clearance')" class="fw-bold" data-expand="div_id_medical_clearance">Incomplete</a>
                                    {% endif %}
                                        {{form.medical_clearance|as_crispy_field}}
                                    </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <h4>Application Form</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.application_form %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_application_form')" class="fw-bold" data-expand="div_id_application_form">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_application_form')" class="fw-bold" data-expand="div_id_application_form">Incomplete</a>
                                    {% endif %}
                                        {{form.application_form|as_crispy_field}}
                                    </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="row">
                                <h4>Certificate of Transfer</h4>
                                <ul class="no-bullet">
                                    <li>
                                    {% if record.cert_of_transfer %}
                                        <i class="bi bi-check-circle complete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_cert_of_transfer')" class="fw-bold" data-expand="div_id_cert_of_transfer">Completed</a>
                                    {% else %}
                                        <i class="bi bi-x-circle incomplete fs-4"></i><span class="ms-1 d-none d-sm-inline"><a href="javascript:clickFileExpand('div_id_cert_of_transfer')" class="fw-bold" data-expand="div_id_cert_of_transfer">Incomplete</a>
                                    {% endif %}
                                        {{form.cert_of_transfer|as_crispy_field}}
                                    </span>
                                    </li>
                                </ul>
                            </div>

                        {% endif %}

                        <div class="row">
                            <div class="col-4 mb-5">
                                <button class="btn btn-success" type="submit">Update</button>
                            </div>
                        </div>                        
                    </form>
                </div>

                {% else %}

                <div class="col-md-6">
                    <h1>No existing Enrollment.<br> Please enroll first!</h1>
                </div>

                {% endif %}
            

                <div class="col-md-6 bg-secondary bg-opacity-25">
                    {% if all_files_ok %}
                        <a href="{% url 'download-form' %}" style="width:100%" class="btn" role="button"><i class="fa fa-download"></i>Download your registration form</a>
                    {% else %}
                        <p class="fw-bold fs-5 text-center">
                            Please complete the sections to get your registration form and student number
                        </p>
                    {% endif %}
                    

                    <p class="fw-normal text-center">
                        For questions and Technical problems.
                        <br>
                        <a href="https://cvsu.edu.ph/2022/01/20/admission-requirements-and-procedures-for-first-semester-ay-2022-2023/">Contact Admission Office</a>
                    </p>
                    

                </div>
                <!--Grid column-->
            
            </div>
            <!--Grid row-->
            
        </div>
    </div>

    <script>

        function clickFileExpand(elem){
            // $(this).parent().next('div').toggle();
            console.log(elem);
            let dom = document.getElementById(elem);
            $(dom).toggle();
            //console.log(elem.getAttribute('data-type'));
        }
        // $('form').on('click', '.file', function(event) {
        //     event.preventDefault();
        //     $(this).parent().next('div').toggle();
        // });


    </script>
{% endblock %}